# Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
.vepote/
venv/
env/
.env

# Données temporaires ou de sortie
data/out/*
!data/out/.gitkeep

# IDEs
.vscode/
.idea/

# Fichiers système
.DS_Store
Thumbs.db