{% extends "manuel.html" %}



{% block ou_suis_je %}
<p>
Vous êtes à la page de chargement.<br>
Vos fichiers de données sont actuellement entrain d'êtres traités, et vous recevez les notification du traitement en direct.
La page vous indique en temps réel pour chaque fichier si :
<ul>
	<li>Le fichier est en attente</li>
	<li>Le fichier a terminé son traitement et est maintenant téléchargeable</li>
	<li>Le fichier n'a pas pu être traité à cause d'une erreur</li>
</ul>
Pour télécharger les images du résultats, il faudra faire click-droit sur chacune d'entre elle et sélectionner l'option "Télécharger".
Lorsque la tout les traitements seront finis, vous pourrez télécharger un fichier .zip des résultats,
et un boutton apparaîtra pour retourner à l'accueil.
</p>
{% endblock %}
