{% extends "manuel.html" %}




{% block ou_suis_je %}
<p>
Vous êtes à la page des résultats<br>

Le traitement de vos fichiers est complètement terminé, et la page vous indique pour chaque :
<ul>
	<li>Si le fichier a terminé son traitement avec succès, ou</li>
	<li>Si le fichier n'a pas pu être traité à cause d'une erreur</li>
</ul>
Vous pouvez télécharger l'ensemble des résultats dans un fichier '.zip', ou individuellement.
Pour télécharger les images du résultats, il faudra faire click-droit sur chacune d'entre elle et sélectionner l'option "Télécharger".
Quand êtes sûr d'avoir tout ce qu'il vous faut, vous pouvez quitter l'application ici ou revenir à la page d'accueil.
</p>
{% endblock %}
