html {
	width: 100%;
	height: 100%;
}
html * {
	box-sizing: border-box;
}



.hidden {
	display: none !important;
}



body {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	width: 100%;
	height: 100%;
	margin: 0;
	background-color: antiquewhite;
}







header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	height: 15%;
	padding: 30px;
	box-shadow: 0 10px 20px #AA57;
	background-color: gold;
}


header h1 {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0 auto 10px auto;
	font-size: 3em;
}


header > button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border: none;
	outline: none;
	margin: 0 60px 0 0;
	border-radius: 100%;
	background-color: transparent;
}
header > button:hover {
	background-color: #0003;
}


header > button > svg {
	width: 50px;
	height: 50px;
}







main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}





#formulaire {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-items: center;
	width: 50%;
	padding: 5vmin 0;
	border: dashed red 5px;
	margin-bottom: 7vmin;
	border-radius: 100px;
	background-color: #0001;
}
#formulaire.file-selected {
	align-items: start;
	width: 50%;
	padding: 0;
	border: none;
	border-radius: 0;
	background-color: transparent;
}




#form-text-drag-and-drop p,
#form-titre {
	margin: 1em 0;
	text-align: center;
	font-size: 1.1em;
}
#form-titre {
	text-decoration: underline;
}





#form-ajouter-fichier input[type="file"] {
	display: none;
}
#form-ajouter-fichier {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	padding: 7px 25px 7px 20px;
	margin: 3% 0 5% 0;
	border-radius: 5px;
	cursor: pointer;
	box-shadow: 0 3px 7px #23B;
	color: white;
	background-color: #55C;
}
#form-ajouter-fichier:hover {
	background-color: #66D;
}
#form-ajouter-fichier span {
	text-align: center;
	font-size: 2em;
	font-weight: bold;
}
#form-ajouter-fichier svg {
	width: 35px;
	height: 35px;
	margin-right: 15px;
}


#form-ajouter-fichier.file-selected {
	padding: 5px 16px 5px 13px;
	border: solid 1px #CBB;
	border-bottom: none;
	margin: 0;
	border-radius: 5px 5px 0 0;
	box-shadow: none;
	color: #55C;
	background-color: #EDD;
}
#form-ajouter-fichier.file-selected span {
	font-size: 1.2em;
}
#form-ajouter-fichier.file-selected svg {
	width: 24px;
	height: 24px;
	margin-right: 10px;
}





#form-text-drag-and-drop {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
#form-text-drag-and-drop p {
	font-style: oblique;
}
#form-text-drag-and-drop svg {
	margin: 6px 0 0 .5em;
}





#form-fichier-liste {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	width: 100%;
	padding: 0;
	margin: 0;
}#form-fichier-liste > li {
	width: 100%;
	border-left: solid 1px #CCB;
	border-right: solid 1px #CCB;
	list-style-type: none;
}

#form-fichier-liste > li:first-child {
	border-top: solid 1px #CCB;
	border-top-right-radius: 5px;
}





#form-soumettre {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: center;
	width: 100%;
	padding-left: 20px;
	border: solid 1px #CBB;
	border-radius: 0 0 5px 5px;
	background-color: #EDD;
}



#form-soumettre > span {
	margin: .9em 0 1.1em 0;
	font-size: 1em;
}



#form-soumettre label {
	display: flex;
	flex-flow: row nowrap;
	align-content: center;
	padding: .3em 30px .4em 30px;
	border-bottom-right-radius: 5px;
	font-size: 1.6em;
	text-align: center;
	color: white;
	background-color: #55C;
}
#form-soumettre label:hover {
	background-color: #66D;
}
#form-soumettre input[type=submit] {
	display: none;
}

#form-soumettre label svg {
	width: 30px;
	height: 30px;
	margin: auto 0 auto 10px;
}







#page-aide {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #AAA7;
}


#page-aide > div {
	position: relative;
	width: 60%;
	padding: 20px 5em;
	border: solid black 3px;
	margin-bottom: 40px;
	border-radius: 30px;
	background-color: #DDD;
}

#page-aide button {
	position: absolute;
	top: -7px;
	right: -7px;
	width: 40px;
	height: 40px;
	padding: 0;
	border: none;
	outline: none;
	margin: 0;
	border-radius: 100px;
	background-color: #FFF;
}
#page-aide button:hover {
	background-color: #BBB;
}
#page-aide button svg {
	width: 40px;
	height: 40px;
}
