html {
	width: 100%;
	height: 100%;
}
html * {
	box-sizing: border-box;
}



body {
	display: flex;
	flex-flow: column nowrap;
	align-items: stretch;
	width: 100%;
	height: 100%;
	padding: 8px;
	margin: 0;
	background-color: antiquewhite;
}







header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	height: 15%;
	padding: 30px;
	background-color: gold;
}


header h1 {
	display: flex;
	justify-content: center;
	padding: 0;
	margin: 0 auto 10px auto;
	font-size: 3em;
}


header > button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border: none;
	outline: none;
	margin: 0 60px 0 0;
	border-radius: 100%;
	background-color: transparent;
}
header > button:hover {
	background-color: #0003;
}


header > button > svg {
	width: 50px;
	height: 50px;
}







main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}





form {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-evenly;
	align-items: center;
	width: 50%;
	padding: 5vmin 0;
	border: dashed red 5px;
	margin-bottom: 7%;
	border-radius: 100px;
	background-color: #0001;
}





form p {
	margin: 1em 0;
	text-align: center;
	font-size: 1.1em;
}
form > p {
	text-decoration: underline;
}





form input[type="file"] {
	display: none;
}
form label {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	align-items: center;
	padding: 7px 25px 7px 20px;
	margin: 3% 0 5% 0;
	border-radius: 5px;
	cursor: pointer;
	text-align: center;
	font-size: 2em;
	color: white;
	font-weight: bold;
	background-color: #55C;
}
form label:hover {
	background-color: #66D;
}
form label svg {
	width: 35px;
	height: 35px;
	margin-right: 15px;
}




form > div {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
}
form > div p {
	font-style: oblique;
}
form > div svg {
	margin: 6px 0 0 .5em;
}







#page-aide {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	background-color: #AAA7;
}


#page-aide > div {
	position: relative;
	width: 60%;
	padding: 20px 5em;
	border: solid black 3px;
	margin-bottom: 40px;
	border-radius: 30px;
	background-color: #DDD;
}

#page-aide button {
	position: absolute;
	top: -7px;
	right: -7px;
	width: 40px;
	height: 40px;
	padding: 0;
	border: none;
	outline: none;
	margin: 0;
	border-radius: 100px;
	background-color: #FFF;
}
#page-aide button:hover {
	background-color: #BBB;
}
#page-aide button svg {
	width: 40px;
	height: 40px;
}
