body {
	width: 100%;
	height: 100%;
	background-color: antiquewhite;
}


header {
	width: 100%;
	height: 15%;
	background-color: gold;
}


#page-aide {
	display: absolute;
	width: 100%;
	height: 100%;
	background-color: #DDDD;
}